[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
python-dotenv = "*"
pymongo = "*"
icalendar = "*"

[dev-packages]
pytest = "*"
python-dotenv = "*"
pymongo = "*"

[requires]
python_version = "3.11"
