[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icalendar = "*"
python-dotenv = "*"
pymongo = "*"
pytest = "*"
pylint = "*"
black = "*"
flask = "*"
google-genai = "*"

[dev-packages]

[requires]
python_version = "3.11"
